.body {
    background-color:blue;
    width: 100%;
    padding:0px;
    margin:0px;
}

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 200%;
    background-color: #9FCDA8;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: green;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 18px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #8E24AA;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid green !important;
    color: green;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #fff !important;
    color: #fff;
    height: 40px;
    background-color: green;
}

.buttons button:nth-child(2) {
    border: 1px solid green !important;
    background-color: green;
    color: #fff;
    height: 40px
}
.buttons button:nth-child(2):hover {
    border: 1px solid green !important;
    background-color: #fff;
    color: green;
    height: 40px
}


.buttons a {
    color:green;
    text-decoration: underline;
}
